---
layout: page

# The roadmaps
---

<script>
    window.onload = function() {
        var link = document.getElementById('junior');
        if (link) link.click();
    };

    function refreshMarkmap(data) {
        var container = document.getElementById('markmap-container');

        container.innerHTML = '';

        var outerDiv = document.createElement('div');
        outerDiv.className = 'mm';
        outerDiv.className = 'markmap';

        var scriptTag = document.createElement('script');
        scriptTag.id = 'template';
        scriptTag.type = 'text/template';

        outerDiv.appendChild(scriptTag);
        container.appendChild(outerDiv);

        data = data.replace(/--start--|--end--/g, '---');

        document.getElementById('template').textContent = data;

        markmap.autoLoader.renderAll()
    }

    function clearActiveStatus() {
        var hyperlinks = document.querySelectorAll('a.roadmap');

        hyperlinks.forEach(function(hyperlink) {
            hyperlink.classList.remove('active');
        });
    }

    function loadRoadmap(event) {
        event.preventDefault();

        clearActiveStatus()

        var clickedLink = event.target;

        clickedLink.classList.add('active');

        var linkId = clickedLink.getAttribute('id');

        fetch(linkId + '.path')
            .then(response => response.text())
            .then(refreshMarkmap)
            .catch(error => {
                console.error('Error loading content:', error);
            });
    }

</script>

<div id="tags" class="d-flex flex-wrap mx-xl-2">
{% for roadmap in site.roadmaps %}
    <div>
        <a class="tag roadmap"
           id="{{ roadmap.name | slugify }}" onclick="loadRoadmap(event)"
           href="#">
            {{ roadmap.name }}
        </a>
    </div>
{% endfor %}
</div>

<div id="markmap-container" class="card">
</div>